@import "bootstrap_custom";

html {
  width: 380px;
  min-height: 320px;
  padding: 5px 8px;
}

.panel-search {
  .form-group {
    margin-bottom: 0;
  }

  .search-url {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 0;
  }  
}
