@import "bootstrap_custom";

html {
  width: 380px;
  height: 380px;
  padding: 0;
}

.no-margin {
  margin: 0;
}

.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.search-name {
  margin-right: 50px;
}

.search-url {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
}

.list-searches {
  border: 0;
  border-radius: 0;
  overflow-y: auto;
  max-height: 380px;
  margin-bottom: 0;

  .list-group-item {
    border-radius: 0;

    &:hover {
      color: #555;
      text-decoration: none;
      background-color: #f5f5f5;
      cursor: pointer;
    }
  }
}

.panel-primary {
  position: fixed;
  z-index: 1050;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0;
}

.dropdown-menu {
  max-width: 240px;
}

.form-group, .help-block {
  margin-top: 0;
  margin-bottom: 0;
}
