@import url('../packages/bootstrap.min.css');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('../components/PopupApp.css');
@import url('../components/GettingStart.css');

.search-item:hover .search-keywords {
  display: block !important;
}
.search-keywords {
  font-size: 0.85em;
  color: #888;
  word-break: break-all;
}
