<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>Popup</title>
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  <script src="../scripts/popup.js"></script>
</head>
<body ng-controller="PopupCtrl" ng-init="init()">
  <div class="panel panel-default panel-search" ng-if="search">
    <div class="panel-body">
      <div class="form-group">
        <input type="text" class="form-control" ng-model="search.name" />
        <p class="help-block small search-url" title="{{ search.url }}">{{ search.url }}</p>
      </div>
    </div>
    <div class="panel-footer">
      <div class="pull-right">
        <button class="btn btn-default">Cancel</button>
      </div>
      <button class="btn btn-primary">Save as a New Search</button>
    </div>
  </div>
</body>
</html>
