<!DOCTYPE html>
<html ng-app="app">
<head>
  <meta charset="utf-8" />
  <title>Popup</title>
  <link rel="stylesheet" type="text/css" href="../styles/popup.css">
  <script src="../scripts/popup.js"></script>
</head>
<body ng-controller="PopupCtrl" ng-init="init()">
  <ul class="list-group list-searches">
    <li class="list-group-item" ng-repeat="savedSearch in searches track by $index">
      <div class="pull-right">
        <button ng-click="editSearch($index)" class="btn btn-default btn-xs">Edit</button>
      </div>

      <a href="{{ savedSearch.url }}" target="_blank" class="search-name truncate">{{ savedSearch.name }}</a>
    </li>
  </ul>

  <div class="panel panel-primary" ng-if="mode == 'create'">
    <div class="panel-body">
      <input type="text" class="form-control" ng-model="search.name" />
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default btn-sm" ng-click="clearSearch()">Dismiss</button>
      <div class="btn-group dropup" uib-dropdown>
        <button type="button" class="btn btn-primary btn-sm" ng-click="createSearch()">Create</button>
        <button type="button" class="btn btn-primary btn-sm" uib-dropdown-toggle>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" uib-dropdown-menu>
          <li class="dropdown-header">Replace saved search</li>
          <li ng-repeat="savedSearch in searches track by $index">
            <a href="#" class="truncate" ng-click="replaceSearch(savedSearch)">{{ savedSearch.name }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-primary" ng-if="mode == 'update'">
    <div class="panel-body">
      <input type="text" class="form-control" ng-model="search.name" />
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-default btn-sm" ng-click="clearSearch()">Dismiss</button>
      <button class="btn btn-primary btn-sm" ng-click="saveSearch()">Save</button>

      <div class="pull-left">
        <button class="btn btn-danger btn-sm" ng-click="removeSearch()">Delete</button>
      </div>
    </div>
  </div>

  <div class="modal-backdrop fade in" ng-if="mode" ng-click="clearSearch()"></div>
</body>
</html>
